@import './../../scss/mixins.scss';

.recipes {
  $this: &;
  min-height: 100vh;

  &__selects {
    display: flex;
    margin: auto;
    gap: 3rem;
    margin-top: 4.5rem;
    flex-wrap: wrap;
    justify-content: center;

    .css-aqkhlq-container {
      width: 100%;
      @include z-index-children(101, 4);
    }
  }

  &__hide {
    display: none;
    width: 100%;

    &--show {
      display: block;
    }
  }

  &__hero {
    width: 100vw;
    margin-left: -2rem;
    height: 38rem;
    background-position: center;
    background-size: cover;

    &-container {
      position: relative;
    }

    &-content {
      position: absolute;
      top: 5rem;
      max-width: 36rem;
      color: var(--off-white);
      z-index: 1;
      padding: 0 1rem;
    }

    &-shadow {
      position: absolute;
      top: -3rem;
      height: 42rem;
      left: -7rem;
      z-index: 0;
      width: 121vw;
    }
  }

  &__recipes {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 4rem;
    justify-content: center;
  }

  input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
  }

  &__products {
    position: absolute;
    background: var(--off-white);
    z-index: 5;
    width: 100%;
    overflow-y: scroll;
    max-height: 17.8rem;
    height: fit-content;

    &-image {
      height: 5rem;
    }

    &--hide {
      display: none;
    }
  }

  &__product {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid var(--orange);

    &-popup {
      display: none;
      position: fixed;
      background-color: var(--dark-blue);
      padding: 5rem 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      text-align: center;
      border-radius: 20px;
      display: none;
      flex-direction: column;
      align-items: center;

      &--active {
        display: flex;
      }
    }
  }

  &__container {
    padding-top: 68px;
  }

  &__products-container {
    width: 100%;
    margin: auto;
    padding-top: 7.5rem;
    display: flex;
    flex-wrap: wrap;

    &-button-container {
      width: 100%;
      text-align: center;
      margin-top: 4rem;
    }

    &-item {
      position: relative;
      padding-left: 2.5rem;
      text-align: center;
      width: 15rem;
    }

    &-delete {
      cursor: pointer;
      position: absolute;
      right: 0;
    }
  }

  &__recipe {
    width: 100%;
    height: 375px;
    border-bottom: 3px solid var(--orange);
    padding-bottom: 1.5rem;
    overflow: hidden;

    &-like-button {
      padding: 0 1.5rem 0 1rem;
      display: flex;
      align-items: center;
      width: 3.74rem;
      white-space: nowrap;
      overflow: hidden;
      transition: all 0.5s;

      &--red {
        &::before {
          content: url('../../assets/img/like-red.svg');
        }
      }

      &--white {
        &::before {
          content: url('../../assets/img/like.svg');
        }
      }

      &::before {
        margin-right: 1rem;
        margin-top: 4px;
      }

      &:hover {
        width: 10.5rem;
        transition: all 0.5s;
      }
    }

    &-image {
      width: 100%;
      height: 100%;
      background-size: auto 100%;
      background-position: center;
      display: flex;
      align-items: flex-end;
      position: relative;
      transition: all 0.3s ease-in;

      &:hover {
        background-size: auto 110%;
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      }
    }

    &-title {
      color: var(--off-white)
    }

    &--bottom {
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      width: 100%;
      z-index: 1;
    }
  }

  &__title {
    margin: auto;

    &--home {
      margin-top: 6rem;
    }
  }

  &__form {
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: 4rem;
  }

  &__input {
    width: 100%;
    margin: auto;
    border: none;
    border-bottom: 3px solid var(--dark-blue);
    background: none;
    height: 3.2rem;

    &-product {
      border-bottom: 3px solid var(--off-white);
      margin-bottom: 2rem;
      color: var(--off-white);

      &::placeholder {
        color: var(--off-white);
      }
    }

    &::placeholder {
      color: var(--grey);
      font-size: 16px;
      transition: all 0.5s;
    }

    &:focus {
      &::placeholder {
        transform: translateY(-10px);
        font-size: 1.2rem;
      }

      border-bottom: solid 3px var(--orange);
    }
  }

  &__category-name {
    color: var(--off-white);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    margin: auto;
    z-index: 1;
  }

  &__categories {
    display: flex;
    margin: auto;
    gap: 20px;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 30rem;
  }

  &__category {
    position: relative;
    height: 80px;
    cursor: pointer;

    &:hover,
    &-active {
      #{$this}__category-image {
        height: 110%;
        filter: none;

        &::before {
          opacity: 0.25;
        }
      }
    }

    &-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
      filter: grayscale(100%);
      transition: all 0.3s ease-in;

      &::before {
        content: "";
        width: 80px;
        height: 80px;
        background: black;
        opacity: 0.5;
        position: absolute;
        transition: all 0.3s ease-in;
        border-radius: 300px;
      }

      &-container {
        width: 80px;
        height: 80px;
        border-radius: 300px;
        overflow: hidden;
      }
    }
  }

  &__popup {
    position: fixed;
    background-color: var(--dark-blue);
    padding: 5rem 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    border-radius: 20px;
    display: none;

    &-title {
      margin-bottom: 4rem;
      width: 70%;
      color: var(--off-white);
      margin: 0 auto 4rem;
    }

    img {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }

    &--active {
      display: block;
    }
  }

  &__button {
    background: none;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;

    &::before {
      content: url('../../assets/img/search-icon.svg');
    }
  }
}

.css-tlfecz-indicatorContainer,
.css-1gtu0rj-indicatorContainer {
  padding: 0px !important;
}

@include min-size(md) {
  .recipes {
    &__products-container {
      width: 66%;
    }

    &__hero {
      height: 50rem;
      margin-left: -3rem;

      &-container {
        margin-top: 0;
      }

      &-content {
        top: 10rem;
        left: 5rem;
      }

      &-shadow {
        top: 1rem;
        height: 43rem;
        left: -8rem;
        width: 59rem;
      }
    }

    &__categories {
      flex-wrap: nowrap;
    }

    &__form {
      width: 66%;
    }

    &__selects {
      .css-aqkhlq-container {
        width: 47%;
      }
    }

    &__recipe {
      height: 325px;
      width: 45%;
    }

    &__categories {
      gap: 45px;
    }

    &__category {
      height: 105px;

      &-image {
        &::before {
          content: "";
          width: 105px;
          height: 105px;
          background: black;
          opacity: 0.5;
          position: absolute;
          transition: all 0.3s ease-in;
          border-radius: 300px;
        }

        &-container {
          width: 105px;
          height: 105px;
          border-radius: 300px;
          overflow: hidden;
        }
      }

      &:nth-of-type(2n + 1) {
        margin-top: 5rem;
      }
    }
  }
}

@include min-size(lg) {
  .recipes {
    &__selects {
      flex-wrap: nowrap;

      .css-aqkhlq-container {
        width: 170px;
      }
    }

    &__container {
      padding-top: 80px;
    }


    &__hero {
      margin-left: -4vw;
      height: 66rem;

      &-content {
        top: 10rem;
        height: 43rem;
        left: 11rem;
        width: 59rem;
      }

      &-shadow {
        top: 0rem;
        height: 54rem;
        left: -3rem;
      }
    }

    &__recipe {
      height: 400px;
    }
  }
}

@include min-size(xl) {
  .recipes {
    &__recipe {
      height: 415px;
    }

    &__hero {
      margin-left: -8vw;
    }
  }
}